body {
  overflow: hidden; /* 스크롤 바 숨기기 */
  user-select: none;

}
.Main {
    text-align: center;
  
    background-image: url('../../public/img/background.jpg');
    background-size: cover; /* 이미지를 웹 페이지에 맞게 조절 */
    background-position: center;
    background-repeat: no-repeat; /* 이미지 반복 방지 */
  
    /* 웹 페이지의 너비에 따라 이미지 크기 조절 */
    width: 100vw;
    height: 100vh;
  
    /*수직 중앙 정렬*/
    display: flex;
    align-items: center;
  }
  
  /* 배경화면 위에 투명도가 20%인 검은색 화면 추가 */
  .Main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
  }

.main-container {
  display: flex;
  width: calc(100% - 40px);  /* 전체 너비에서 40px(양쪽 여백)을 뺀 값 */
  height: calc(100% - 40px); /* 전체 높이에서 40px(상하 여백)을 뺀 값 */
  position: absolute;
  align-items: center;
  border-radius: 10px;
  border: 2px dashed white;
  margin: 20px;
}
  
  .logo {
    animation: moveUpDown 2s ease-in-out infinite alternate; /* 애니메이션 적용 */
  
    width: 60vw;
    height: auto;
    
    margin: 0 auto;
  
    /* 수직 중앙 정렬을 위한 추가 CSS */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .notice {
    position: absolute; /* 절대 위치 설정 */
    bottom: 10px; /* 아래 여백 설정 */
    left: 10px; /* 왼쪽 여백 설정 */
    color: white; /* 텍스트 색상 설정 */
  
    font-family: 'Jalnan2', sans-serif;
    font-size: 15px;
  }
  
  .additional-text {
    text-indent: 0;
    margin-left: 10px;
    font-size: 13px;
  }
  .menu-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px; /* 이미지 크기 설정 */
    height: auto;
  }
  
  .menu-button {
    width: 100%;
    height: auto;
  }
  
  .menu-button:hover {
    cursor: pointer;
  }
  
  .main-header-menu {
    position: absolute;
    margin-right: 20px;
    top: 20px;
    right: 0;
    display: flex; /* 세로로 정렬하기 위해 flex 사용 */
    flex-direction: column; /* 아이템을 세로로 정렬 */
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: calc(100vh - 160px);
  }
  .main-menu-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap; /* 아이템이 줄바꿈되지 않도록 설정 */
  }
  
  .main-menu-item {
    display: inline-flex;
    align-items: center;
    font-size: 0.8vw;
    font-weight: bold;
    margin-right: 20px; /* 아이템 간 간격 */
  }
  
  .main-menu-item:last-child {
    margin-right: 0;
  }
  
  .main-menu-icon {
    vertical-align: middle; /* 아이콘을 텍스트 중앙에 정렬 */
    width: 30px;
    height: auto;
    margin-right: 10px;
  }
  
  .main-menu-item:hover {
    cursor: pointer;
    color: rgb(189, 189, 189);
  }
  
  @font-face {
    font-family: 'Jalnan2';
    src: url('../../public/fonts/Jalnan2.otf') format('opentype');
  }
  
  /* 로고가 위아래로 이동하는 애니메이션 */
  @keyframes moveUpDown {
    0% {
      transform: translateY(0); /* 초기 위치 */
    }
    100% {
      transform: translateY(10px); /* 최종 위치 */
    }
  }