body {
  background-color: #f8f8f8;
  margin: 0; /* 기본 마진 제거 */
  padding: 0; /* 기본 패딩 제거 */
  font-family: 'Arial', sans-serif; /* 전체 폰트 설정 */
}

.monitoring-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 전체 화면의 높이와 같게 설정 */
  margin: 20px;
  overflow: hidden; /* 컨테이너 외부로 내용이 넘칠 경우 숨김 처리 */
}

.monitoring-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 헤더 좌우 정렬 */
  height: 70px;
  margin-bottom: 20px;
}

.monitoring-logo-section .monitoring-logo {
  width: 15vw;
  height: auto;
}

.monitoring-rightSection {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* 우측 정렬 */
  flex-direction: row; /* 자식들을 가로로 배치 */
}

.monitoring-time {
  display: flex;
  height: 30px;
  margin-right: 20px;
  margin-left: auto; /* 우측 정렬 */
  flex-direction: column;
  align-items: center;
  justify-content: center; /* 수평 중앙 정렬 */
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 160px);
}


.monitoring-time p {
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: bold;
}

.monitoring-time p2 {
  font-weight: 900;
}

.monitoring-header-menu {
  display: flex;
  flex: 0 0 50px;
  margin-left: auto; /* 우측 정렬 */
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 160px);
}

.monitoring-menu-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap; /* 아이템이 줄바꿈되지 않도록 설정 */
}

.monitoring-menu-item {
  display: inline-flex;
  align-items: center;
  margin-right: 20px; /* 아이템 간 간격 */
}

.monitoring-menu-item:last-child {
  margin-right: 0;
}

.monitoring-menu-icon {
  vertical-align: middle; /* 아이콘을 텍스트 중앙에 정렬 */
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.monitoring-content {
  display: flex;
  height: 500px;
  margin-bottom: 20px;
  overflow: hidden; /* main-content 내 스크롤바 비활성화 */
  flex-wrap: wrap;
  gap: 20px;
}

.monitoring-content-div {
  width: 72.5%;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 160px);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: bold;
  font-size: 2.6vw;
  position: relative;

  background-image: url('../../public/img/member-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.monitoring-content-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.monitoring-content-div > * {
  position: relative;
  z-index: 10; /* `::before`보다 높은 z-index */
}

.monitoring-content-div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  flex-grow: 1; /* 남은 공간을 모두 채움 */
  background-color: #ffffff; /* 배경색을 흰색으로 설정 */
  padding: 20px; /* 패딩 추가 */
  border-radius: 5px; /* 경계선 둥글게 처리 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 */
  max-height: calc(100vh - 160px); /* 헤더, 푸터, 마진을 고려한 높이 */
}

.monitoring-profile-info {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.monitoring-profile-info p {
  font-weight: 900;
  font-size: 1.3vw;
}

.monitoring-profile-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.monitoring-profile-img .monitoring-user-profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ddd;
  background-color: #ddd;
  text-align: center;
}

.monitoring-content2 {
  display: flex;
  flex-grow: 1; /* 남은 공간을 모두 채움 */
  flex-direction: row; /* 자식 요소들을 가로로 배치 */
  overflow: hidden; /* 컨테이너를 넘는 내용은 숨김 */
  padding: 3px; /* 내부 여백 */
}


.monitoring-content2-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  flex-grow: 1; /* 남은 공간을 모두 채움 */
  overflow: hidden; /* main-content 내 스크롤바 비활성화 */
  flex-wrap: wrap;
  margin-right: 20px;
  gap: 20px;
  background-color: #bdf6ff; /* 배경색을 흰색으로 설정 */
  padding: 20px; /* 패딩 추가 */
  border-radius: 5px; /* 경계선 둥글게 처리 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* 약간의 그림자 효과 */
  max-height: calc(100vh - 160px); /* 헤더, 푸터, 마진을 고려한 높이 */
}

.monitoring-content2-div:last-child {
  margin-right: 0;
}

.monitoring-content2-icon {
  width: 8vw;
}

.monitoring-content2-text {
  text-align: center;
  margin-left: 20px;
}

.monitoring-content2-text p {
  font-size: 1.3vw;
  font-family: 'Jalnan2', sans-serif;
}

.monitoring-content2-text p2 {
  font-size: 1vw;
  font-weight: bold;
  color: #0059ff;
}

.monitoring-footer {
  flex-shrink: 0; /* 크기 유지 */
  text-align: center;
  height: 20px;
  padding: 10px 0;
  background-color: white;
  color: #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}